* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue';
}

main {
  width: 100%;
  height: 100%;
  background-color: #005B9A;
  padding: 50px;
}

.positions {
  width: 100%;
  height: 50vh;
  background-color: #0091f883;
  position: relative;
}

.positions-item {
  width: 100px;
  height: 100px;
  background-color: #02243d96;
  border: 1px solid #0091f883;
  font-size: 2em;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
}

.positions-item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 50px;
  top: 50%;
  left: -20px;
  background-color: #189ffff5;
  transform: translateY(-50%);
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 50%);
}

.positions-item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 70px;
  top: 50%;
  right: -20px;
  background-color: #189ffff5;
  transform: translateY(-50%);
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 50%);
}

.item-1 {
  position: relative;
}

.item-2 {
  position: relative;
  top: 100px;
  /* left: 300px; */
  /* right: -100px;
  bottom: -100px; */
}

.item-3 {
  position: absolute;
  top: 200px;
  /* left: 100px;
  right: -100px;
  bottom: -100px; */
}

.item-4 {
  position: fixed;
  right: 0;
  top: 25%;
}

.pseudoclase {
  width: 100%;
  height: 50vh;
  background-color: #00be75f5;
  padding: 50px;
  margin-top: 50px;
}

#form {
  background-color: #008854f5;
  padding: 2rem;
}

#form legend {
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

#form .form-group {
  color: #FFFFFF;
  font-size: 1em;
  margin: 10px;
  text-align: center;
}

#form .form-group label {
  display: block;
  margin-bottom: 5px;
}

#form .form-group input {
  width: 100%;
  border: 3px solid transparent;
  outline: none;
  padding: 5px;
  border-radius: 10px;
}

#form .form-group input:focus {
  border: 3px solid rgb(255, 41, 41);
}

#form .form-group input:valid {
  border: 3px solid rgb(58, 199, 255);
}

#form .form-group button {
  width: 100%;
  border: 0;
  padding: 5px;
  border-radius: 10px;
  outline: none;

  transition: all 0.2s;
}

#form .form-group button:hover {
  background-color: rgb(0, 214, 143);
  color: #FFFFFF;
  transform: translateY(-2px);
}

#form .form-group a {
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
}

#form .form-group a:hover {
  color: #9a0033;
}

/** Padre nth-child */
.pseudoselectores {
  width: 100%;
  height: 50vh;
  background-color: #b1be00f5;
  padding: 50px;
  margin-top: 50px;
}

/** Hijo nth-child */
.pseudoselectores .child {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #858f00f5;
  color: #FFFFFF;
  text-align: center;

  transition: all 0.5s;
}

/** Padre -> Hijos nth-child
  numero entero
  odd
  even
  numero entero + n
*/

.pseudoselectores .child:nth-child(odd):hover {
  width: 100px;
  background-color: blueviolet;
  transform: rotate(180deg) scale(2);
}

/* .pseudoselectores .child:nth-last-child(4) {
  width: 100px;
} */

/* .pseudoselectores .child:nth-of-type(3) {
  width: 100px;
} */

/* .pseudoselectores .child:nth-last-of-type(4) {
  width: 100px;
} */

/* .pseudoselectores .child:only-child {
  width: 100px;
} */

/* .pseudoselectores .child:only-of-type {
  width: 100px;
} */